:root {
  --portrait-height: 300px;
  --sub-color-pad: 125px;
  --sub-color: #333333;
  --sub-color-height: 250px;
}

.pro_portrait {
  height: var(--portrait-height);
  border-radius: 100%;
  border: 25px solid var(--sub-color);
  margin-top: var(--sub-color-pad)

}

.sub_color {
  height: var(--sub-color-height);
  background-color: var(--sub-color);
}

#pro_header {
  width: 100%;
  align-items: center;
  align-content: center;
  text-align: center;
  background-size: auto;
}

#heading_wrap {
  margin-top: calc(var(--portrait-height) - 100px)
}

#pro_education {
  margin-top: 75px;
}



#back_wrap {
  color: white;
  width: 100%;
  text-decoration: none;
  position: fixed;
  text-align: right;
}

#back_wrap a {
  color: yellow;
  font-size: 20px;
}

.pro_logo_img {
  width: 150px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.pro_section {
  margin-top: 25px;
}

.pro_go_back_bottom {
  margin-bottom: 60px;
  margin-top: 25px;
}
