<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    >
  </head>
  <body class="container">
    <div class="blog_container">
      <h1>
        <div class="blog_title">
        </div>
      </h1>
      <h6>
        <div class="blog_date">
        </div>
      </h6>
      <h2>
        <div class="blog_subtitle">
        </div>
      </h2>

      <div class="blog_body">
      </div>
    </div>
  </body>

  <script>
    function blogController(_blog_id) {

      let grabBlogContents = async () => {

      }

      let init = async () => {

      }

      return {
        ...this
      }
    }

    $(document).ready((=>{

    }))
  </script>

</html>
