
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0="
      crossorigin="anonymous">
    </script>


      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    </head>




    <!-- Custom Scripts -->
    <script src="static/js/core.js"></script>
    <link href="static/css/base.css" rel="stylesheet"/>

  </head>

  <body class="animated fadeIn">

    <div id="loader">
      <img src="static/imgs/loader.gif" class="animated fadeOut infinite"/>
    </div>

    <section id="mobile_header">
      <h1>
        TAI KERSTEN
      </h1>
    </section>

    <section id="header">
        <div class="row">
          <div class="col-md-3">
            <div id="site_title"></div>
          </div>

          <div class="col-md-9 select_col">
            <div id="language_selector">
            </div>
          </div>
        </div>
    </section>



    <section id="caro_summary">
      <div class="owl-theme owl-carousel">

        <div id="intro_promo" class="item promo_page">
          <div class="row">
            <div class="col-md-4 card promo_card">
              <h2 class="promo_head">
                <span id="promo1_head"></span>
              </h2>
              <p class="promo_body">
                <span id="promo1_txt"></span>
              </p>
              <a href="#mini_bio" class="btn btn-outline-danger">Learn More ></a>

            </div>
            <div class="col-md-8">
            </div>
          </div>
        </div>

        <div id="dev_promo" class="item promo_page">
          <div class="row">
            <div class="col-md-4 card promo_card">
              <h2 class="promo_head">
                <span id="promo2_head"></span>
              </h2>
              <p class="promo_body">
                <span id="promo2_txt"></span>
              </p>
              <a href="/professional" class="btn btn-outline-danger">Learn More ></a>
            </div>
            <div class="col-md-8">
            </div>
          </div>
        </div>

        <div id="prof_promo" class="item promo_page">
          <div class="row">
            <div class="col-md-4 card promo_card">
              <h2 class="promo_head">
                <span id="promo3_head"></span>
              </h2>
              <p class="promo_body">
                <span id="promo3_txt"></span>
              </p>
              <a href="/develop" class="btn btn-outline-danger">Learn More ></a>
            </div>
          </div>
        </div>

        <div id="design_promo" class="item promo_page">
          <div class="row">
            <div class="col-md-4 card promo_card">
              <h2 class="promo_head">
                <span id="promo4_head"></span>
              </h2>
              <p class="promo_body">
                <span id="promo4_txt"></span>
              </p>
              <a href="/design" class="btn btn-outline-danger">Learn More ></a>
            </div>
            <div class="col-md-8">
            </div>
          </div>
        </div>

      </div>
    </section>

    <section id="mini_bio">
      <h2> <span id="mini_bio_header"></h2>
      <div id="mini_bio_txt"></div>
    </section>

    <section id="purchasing">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="card sell_card">
            <img class="sale_img" src="static/imgs/idx/biz_sale_logo.png">
            <h2>
              <span id="sell_card_head_1"></span>
            </h2>
            <ul>
              <li>
                <span id="sell_card_1_bullet_1"></span>
              </li>

              <li>
                 <span id="sell_card_1_bullet_2"></span>
              </li>

              <li>
                <span id="sell_card_1_bullet_3"></span>
              </li>
            </ul>
            <a class="btn btn-outline-danger" href="/professional">
              <span id="pro_button">
              </span>
            </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card sell_card">
            <img class="sale_img" src="static/imgs/idx/des_sale_logo.png">
            <h2>
              <span id="sell_card_head_2"></span>
            </h2>
            <ul>
              <li>
                <span id="sell_card_2_bullet_1"></span>
              </li>

              <li>
                 <span id="sell_card_2_bullet_2"></span>
              </li>

              <li>
                <span id="sell_card_2_bullet_3"></span>
              </li>
            </ul>
            <a class="btn btn-outline-danger" href="/develop">
              <span id="dev_button">
              </span>
            </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card sell_card">
            <img class="sale_img" src="static/imgs/idx/dev_sale_logo.png">
            <h2>
              <span id="sell_card_head_3"></span>
            </h2>
            <ul>
              <li>
                <span id="sell_card_3_bullet_1"></span>
              </li>

              <li>
                 <span id="sell_card_3_bullet_2"></span>
              </li>

              <li>
                <span id="sell_card_3_bullet_3"></span>
              </li>
            </ul>
            <a class="btn btn-outline-danger" href="/design">
              <span id="design_button">
              </span>
            </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section id="footer">
All code, graphics, images, and illustrations on this site are the creations of Tai Kersten with the exception of libraries imported in via link or script tags.
    </section>
  </body>



<html>
