
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div>
      <img src ="static/imgs/developer/profile_dev.jpg" style="height: 150px;"/>
      <br/>
      <a href="https://github.com/kerstentw" target="_blank"> Github </a>
      <br/>
      <a href="https://medium.com/@tai_kersten"> Blog </a>

    <h3> Alignment </h3>
    Chaotic Lazy



    <h3> Programming Languages </h3>
    <ul>
      <li> Python 3.x/2.7+ (Fluent)    </li>
      <li> Javascript (Fluent)</li>
      <li> Go (Proficient)    </li>
      <li> Kotlin (Deployed) </li>
      <li> PHP (Deployed) </li>
      <li> Java (Competent) </li>
      <li> C (Competent)   </li>
      <li> C++ (Competent)  </li>
    </ul>

    <h3> RDBMS Systems </h3>
    <ul>
      <li>MySQL</li>
      <li>PostGres</li>
      <li>MongoDB</li>
    </ul>

    <h3> TSDB Systems </h3>
    <ul>
      <li> InfluxDB </li>
      <li> KDB </li>
    </ul>

    <h3> NoSQL System </h3>
    <ul>
      <li> MongoDB </li>
    </ul>

    <h3> An Unordered list of DevOps and SysAdmin Experience </h3>
    <ul>
      <li> Amazon Web Services (EC2, Lambda, S3) </li>
      <li> Google Cloud (Compute Engine, Ethereum) </li>
      <li> Linode </li>
      <li> OpenShift </li>
      <li> Heroku </li>
      <li> Linux (Debian, Ubuntu, Ubuntu Server, Mint, Red Hat) </li>
    </ul>

    <h3> An Unordered List of Various Frameworks & Libraries </h3>
    <ul>
      <li> Django.py </li>
      <li> Web.py </li>
      <li> Flask.py </li>
      <li> Pandas.py </li>
      <li> Node.js </li>
      <li> Express.js </li>
      <li> Sails.js </li>
      <li> Angular.js (1 & 2+) </li>
      <li> JQuery.js </li>
      <li> React.js (Begrudgingly)</li>
      <li> Redux.js </li>
    </ul>

    <h3> Blockchain Stuff </h3>
    <ul>
      <li> Web3.js </li>
      <li> ethereum.js </li>
      <li> Geth </li>
      <li> Quorum & Klayton </li>
      <li> Hyperledger </li>
      <li> Corda </li>
      <li> Solidity (Fluent)  </li>
      <li> Vyper (Proficient) </li>
    </ul>

    <h3> Selected Projects </h3>
    <ul>
      <li>
        <a href="https://github.com/kerstentw/TaiPersonalSite">
          This Website
        </a>
      </li>
      <li>
        <a href="https://github.com/kerstentw/ficient">
          N-leg arbitrage on DeFi
        </a>
      </li>
      <li>
        <a href="https://app.avocadoterminal.com">
          Avocado Terminal
        </a>
      </li>
      <li>
        <a href="https://github.com/kerstentw/MultiAppScraper">
          Financial Data Acquisition Library
        </a>
      </li>
      <li>
        <a href="https://github.com/kerstentw/deepChainClassifier">
          Blockchain Classifier
        </a>
      </li>

      <li>
        <a href="https://github.com/kerstentw/TokenArena">
          Token Arena
        </a>
      </li>

      <li>
        <a href="https://github.com/kerstentw/influx_admin_scripts">
          Influx Administration Scripting
        </a>
      </li>

      <li>
        <a href="https://github.com/ProofSuite/tokensale-dashboard">
          Token Wallet
        </a>
      </li>
    </ul>

    <a href="https://motherfuckingwebsite.com/" target="_blank">
      This resume page follows a design philosophy.
    </a>
    <br/>
    <br/>

    <a href="/"> Go Home </a>
    <br/>

    </div>


  </body>

<html>
